.top-task-fileds{
	display: flex;
	flex-direction: row;
	flex: 1;

}

.middle-textarea{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 ;
}



.bottom-task-fields{
	display: flex;
	flex-direction: row;
	flex: 1;
	/*border-bottom: 1px solid;*/
}

.task-modal h3{
	padding: 10px 24px 10px !important;
	border-bottom: 1px solid #E0E0E0;
	font-size: 18px !important;
}


