.top-task-fileds {
  display: flex;
  flex-direction: row;
  flex: 1;
  /*border-top: 1px solid;*/
}

.middle-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/*.middle-textarea>div>div {
	bottom: auto;
	top: 12px !important;
}*/

.bottom-task-fields {
  display: flex;
  flex-direction: row;
  flex: 1;
  /*border-bottom: 1px solid;*/
}

.task-modal h3 {
  padding: 10px 24px 10px !important;
  border-bottom: 1px solid #e0e0e0;
  font-size: 18px !important;
}

.task-modal-text-field {
  /*margin: 1em;*/
}
.add-task-form {
}



#worker-select:hover {
  background-color: transparent !important;
}
#worker-select:focus {
  background-color: transparent !important;
}
#worker-select:active {
  background-color: transparent !important;
}


.MuiPopover-root {
  z-index: 1600 !important;
}


.MuiInput-underline:before {
  border-bottom-color: rgb(224, 224, 224) !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border: none !important;
}

