.text-center {
	text-align: center;
}

.login-container {
	display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-paper {
	height: 400px;
  width: 350px;
  margin: 15vh;
}

.login-paper>h2 {
  background: #7AB15A;
  margin: 0;
  padding: 1em;
  color: #fff;
}

.login-form {
	display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.btn-group{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (max-width: 500px) {
  .login-form {
    padding: 1em;
    height: 46vh;
  }
}